

// Position side classes
@each $pos in ('top','bottom', 'left', 'right') {
    $num: 0;
    @while $num <= 100{
        .#{$pos}-#{$num}{
            #{$pos}: $num * 1%
        }

        $num: $num+1;
    } 
}

.bounce{
    animation: bounce 1s;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
